.body {
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280px;
  background-image: url('../../images/body/background.png');
  background-repeat: repeat
}