.container__card {
  margin-right: 20px;
  background-color: #fff;
  border-radius: 5px;
  min-width: fit-content;
  box-sizing: border-box;
  align-self: stretch;
  user-select: none;
}

.container__card:hover {
  cursor: pointer;
  opacity: .5;
}

.container__card:last-of-type {
  margin-right: 0;
}