.container__card {
  margin-right: 20px;
  background-color: #fff;
  border-radius: 5px;
  min-width: fit-content;
  box-sizing: border-box;
  align-self: stretch;
  user-select: none;
}

.container__card:hover {
  cursor: pointer;
  box-shadow: 3px 2px 3px #000;
  transform: translateY(-2px) scale(1.005) translateZ(0);
}

.container__card:last-of-type {
  margin-right: 0;
}