.button_type_sale {
  background-color: blue;
  color: #fff;
  min-height: 50px;
  min-width: 327px;
  border-radius: 10px;
}

.button_type_sale:disabled {
  background-color: #808080;
  cursor: default;
}